.content {
  padding: 16px;
  display: flex;
  flex-direction: column; /* Alinear elementos verticalmente */
  gap: 16px; /* Espaciado entre el buscador y las tarjetas */
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.search-container {
  display: flex;
  justify-content: center; /* Centrar el buscador */
}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Distribuir tarjetas en filas */
  justify-content: center; /* Centrar las tarjetas */
  gap: 16px; /* Espaciado entre tarjetas */
}
